-- Migration: 20260909000003_add_new_payroll_adjustments.sql
-- Description: Adds columns to support Medical Allowance, Travel Expense, Performance Incentive, Food Allowance, and TDS.

-- 1. Add columns to employee_financial_ledger
ALTER TABLE public.employee_financial_ledger
ADD COLUMN IF NOT EXISTS kilometers NUMERIC(10, 2),
ADD COLUMN IF NOT EXISTS vehicle_type TEXT,
ADD COLUMN IF NOT EXISTS tds_applied BOOLEAN DEFAULT false,
ADD COLUMN IF NOT EXISTS tds_rate NUMERIC(5, 2);

-- 2. Add columns to payroll_snapshots
ALTER TABLE public.payroll_snapshots
ADD COLUMN IF NOT EXISTS medical_allowance NUMERIC(12, 2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS travel_expense NUMERIC(12, 2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS performance_incentive NUMERIC(12, 2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS food_allowance NUMERIC(12, 2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS tds NUMERIC(12, 2) DEFAULT 0;

